@font-face {
    font-family: "mifuente";
    src: url(fonts/GavolineDemo.otf) format('truetype');
}

html {
    height: 100%;
    font-family:'mifuente', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
     min-height: 100%;
}
.grid-container {
    box-shadow: 10px 6px 37px -13px rgb(67, 66, 66);
    gap: 5px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.header{
    grid-area: header;
    background-color: #c8d9e6;
}
.main{
   grid-area: main;
    background-color: white;
}
.sidebar{
    grid-area: sidebar;
    background-color: white;
}
.footer{
    grid-area: footer;
    background-color: #c8d9e6;
    text-align: center;
}
.navegador {
    grid-area: navbar;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "navbar main";
  grid-template-columns: 200px auto;
  height: 100vh;
}

@media (min-width:900px){
    .grid-container{
        grid-template:
        "header header header" 100px
        "navbar main   sidebar" auto
        "footer footer footer" 100px /
         200px  auto    200px;
    }
}

@media (min-width:900px){
    .grid-container{
        grid-template:
        "header header header" 100px
        "navbar main   sidebar" auto
        "footer footer footer" 100px /
         200px  auto    200px;

         
    }
}

.menu {
    list-style: none;
padding: 0;
}
.navbar {
  grid-area: navbar;
  background-color: #2F4156;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.menu a {
    color:white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition:all 0.3s ease;
    font-size: 15px;
}

.menu a:hover {
    color: rgb(159, 218, 245);
    font-size: 20px;
}
img{
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
h1{
    color:#2f4156;
    font-size:60px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h4{
    color:#2f4156;
    font-size:40px;
    margin-top: 55px;
    text-align: left;
    margin-left: 10px;
    
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 100px;   
}


